<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Docyoment
        link(rel="icon" href="images/favicon-32x32.png" type="image/png" sizes="32x32")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap")
        link(rel="stylesheet", href="normalize.css")
        link(rel="stylesheet", href="style.css")
    body
        div.main-page
            div.container-outer
                img(class="box-img" src="images/illustration-box-desktop.svg" alt="")
                //-img(class="mobile-img" src="images/illustration-woman-online-mobile.svg" alt="")
                div.container
                    div.item-left
                        img(src="images/bg-pattern-desktop.svg" alt="")
                        img(src="images/illustration-woman-online-desktop.svg" alt="")
                    div.item-right
                        h2 FAQ
                        div.question
                            h5 How many members can I invite?
                            div.answer #[p No more than 2GB. All files in your account must fit your allotted storage space]
                        div.question
                            h5 What is the maximum file upload size?
                            div.answer #[p No more than 2GB. All files in your account must fit your allotted storage space]
                        div.question
                            h5 How do I reset my password?
                            div.answer #[p No more than 2GB. All files in your account must fit your allotted storage space]
                        div.question
                            h5 Can I cancel my subscription?
                            div.answer #[p No more than 2GB. All files in your account must fit your allotted storage space]
                        div.question
                            h5 Do you provide additional support?
                            div.answer #[p No more than 2GB. All files in your account must fit your allotted storage space]
            div.attribution
                p Challenge by #[a(href="https://www.frontendmentor.io/?ref=challenge") Frontend Mentor] Coded by #[a(href="https://github.com/mohamed1maghraby-div") Mohamed Maghraby]
        script(src="http://localhost:35729/livereload.js")
        script(src="main.js")